/ responsive /
@media screen and (max-width: 1264px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        max-width: 990px;
    }

    .gadgets {
        width: auto;
    }

    .gadgets-text {
        width: 46%;
    }

    .seamles-main {
        padding: 0px 50px;
    }

    .seam-img {
        width: 48%;
    }

    .gadgets-text h2 {
        font-size: 39px;
    }

    .gadgets-text p {
        font-size: 15px;
    }

    .access-img img {
        object-fit: fill;
        width: 100%;
    }

    .footer-links {
        width: 16%;
    }

    .slider-text-div h2 {
        font-size: 32px;
    }

    .perfect-div {
        width: 65%;
    }

    .per-img img {
        height: 251px;
    }

    .footer-links:last-child {
        margin-bottom: 0px;
    }

    .footer-links {
        width: 24%;
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 800px;
    }

    .reviews.seam .review-div {
        width: 32%;
        text-align: start;
    }

    .seam-img img {
        height: 420px;
    }

    .reviews.seam .review-div img {
        margin: 0;
    }

    .rev-text {
        width: 100%;
    }

    .review-div {
        text-align: center;
        gap: 13%;
    }

    .review-div img {
        margin: auto;
    }

    section.forward {
        padding: 60px 0px;
    }

    .forward-div {
        margin-bottom: 40px;
    }

    .acces-img {
        margin-top: 0px;
        padding-bottom: 20px;
    }


    .forward-main .acces-main:first-child .acces-div {
        width: 100%;
    }

    .acces-main {
        width: 1000%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .acces-div {
        width: 48%;
    }

    .gadgets-text h2 {
        font-size: 33px;
    }

    .seam-img {
        width: 100%;
    }

    .seam-img img {
        width: 100%;
    }

    .seamles-main .gadgets-text {
        width: 100%;
        margin-top: 55px;
    }

    .hamButton button {
        background-color: transparent;
        border: none;
    }

    .hamButton {
        display: block;
        width: 33.33%;
    }

    .hamButton button span {
        width: 30px;
    }

    .hamButton button span {
        width: 30px;
        height: 2px;
        background: #D43549;
        transition: 0.4s ease-in-out;
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .headermenus {
        position: absolute;
        right: 0;
        left: 0;
        top: 55px;
        z-index: 9999;
        background-color: #D43549;
        padding: 20px;
        display: none;
        box-shadow: rgb(33 35 38 / 20%) 0px 30px 30px -10px;
        width: 95%;
        text-align: center;
    }

    .headermenus ul li a {
        color: #ffffff;
        font-size: 19px;
    }

    .header-anchor ul {
        display: block;
    }

    .header-anchor li {
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .headermenus {
        display: none;
    }

    .header-items {
        order: 3;
    }

    .hamButton {
        order: 1;
    }

    .headerlogo {
        order: 2;
    }

    .headermenus ul {
        display: block;
        text-align: start;
    }

    .headermenus ul li {
        margin-bottom: 20px;
    }

    .hamButton button span:last-child {
        margin-bottom: 0px;
    }

    .slider-text-div h2 {
        font-size: 24px;
    }

    .perfect-div {
        width: 100%;
    }

}

@media screen and (max-width: 800px) {
    .container {
        max-width: 700px !important;
    }
}

@media screen and (max-width: 767px) {
    .devices-main ul {
        justify-content: center;
        gap: 20px;
    }

    .reviews.seam .review-div {
        width: 47%;
        text-align: start;
    }

    .access-img img {
        height: 270px;
    }

    .acces-div {
        width: 100%;
    }

    .acces-text {
        padding-top: 30px;
        padding-left: 30px;
    }

    .acces-img img {
        height: 150px;
    }

    .gadgets-text {
        width: 100%;
    }

    .slider-text h2 {
        font-size: 14px;
    }

    .slider-text h2 span {
        font-size: 14px;
    }

    .seamles-main {
        padding: 0px 18px;
    }

    .seam-img img {
        height: 330px;
    }

    .gadgets-text h2 {
        font-size: 23px;
    }

    .slider-text h2 {
        font-size: 14px;
    }

    .newsletter-div {
        width: 100%;
    }

    .device-plug {
        width: 100%;
        margin-top: 30px;
    }

    .footer-links:last-child {
        margin-bottom: 0px;
    }

    .footer-links {
        width: 43%;
        margin-bottom: 20px;
    }

    .payment-div {
        order: 1;
        width: 40%;
    }

    .payment-method {
        order: 3;
        width: 100%;
        margin-top: 22px;
    }

    .social-media {
        order: 2;
        width: 50%;
    }

    .logo {
        width: 24%;
    }

    .gadgets {
        height: 325px;
    }

    .forward-div p {
        padding: 0px 20px;
    }

    .slider-text-div {
        width: 100%;
    }

    .perfect-div {
        width: 100%;
    }

    .per-img img {
        height: 225px;
        object-fit: contain;
    }

    .containers {
        width: 100%;
    }

    .slides img {
        height: 316px;
        width: 100%;
        object-fit: contain;
    }

    .price span {
        color: #D43549;
        font-size: 15px;
    }

    ul.tabs {
        display: grid;
        border-bottom: none;
    }


    li.tab-link {
        margin-bottom: 15px;
    }

    li.tab-link:last-child {
        margin-bottom: 0px;
    }

    .tab-content {
        font-size: 14px;
    }

    ul.tabse li {
        font-size: 14px;
    }

}

@media screen and (max-width: 713px) {
    .container {
        max-width: 630px !important;
    }

    .gadgets-text {
        width: 46%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 540px !important;
    }

    .slider-text-div h2 {
        font-size: 18px;
    }

    .headerlogo a img {
        max-width: 88px;
    }

    .header-items a img {
        height: 15px;
    }

    .header-items {
        width: 32%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        gap: 10px;
    }

    .review-div {
        width: 30%;
    }

    .reviews {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 17px;
    }

}

@media screen and (max-width: 548px) {
    .container {
        max-width: 500px !important;
    }

    .gadgets-text h2 {
        font-size: 20px;
    }

    .gadgets-text {
        width: 68%;
    }
   .review-div {
        width: 43%;
    }
}

@media screen and (max-width: 484px) {
    .container {
        max-width: 440px !important;
        padding: 0 15px;
    }

    .gadgets-text h2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        max-width: 350px !important;
    }

    .devices-main ul {
        justify-content: space-evenly;
        gap: 20px;
    }
}

@media screen and (max-width: 358px) {
    .container {
        max-width: 340px !important;
    }
}